@import url("./reset.css");

.table{border-color:rgba(51,102,170,0.5);color:rgb(51,102,170);}
.table .caption{border-color:rgba(51,102,170,0.5);background:-webkit-linear-gradient(top,rgba(51,102,170,0.1),#eee);}
.table .th,.table .td{border-color:rgba(51,102,170,0.5);}
.table thead tr{background:-webkit-linear-gradient(top,#eee,rgba(51,102,170,0.1));}
.table tbody tr:nth-child(3n){background-color:rgba(51,102,170,0.1)}
.table .th{border-color:rgba(51,102,170,0.3);}